$leftSidebarBSF: #454f7e05;
$leftSidebarBSS: #0e185033;
$bgColor: #F8F8F8;
$headerbg: #FFFFFF;
$headerBtnColor: #FFFFFF;
$textColor: #1B1C21;
$btnColor: #FF3E79;
$headerSeparatorBg: #EAEAEA;
$contentTitleBorder: #41F6D7;
$contentInlineMenuColor: #7E7E82;
$contentInlineMenuItemBg: #FFFFFF;
$contentInlineMenuItemBorder: #B8FFEC;
$servicePriceTitleColor: #7e7e82b8;
$footerBorderTopColor: #D9FFF5;
$modalFieldColor: #B5B6BC;
